#Communication Server Configuer

#主站接入最大连接数
COMMSERVICE_MESSAGEEXCHANGE_MAXCOUNT=100
#供主站接入监听端口
COMMSERVICE_MESSAGEEXCHANGE_PORT=3000  
#连接超时时间
COMMSERVICE_MESSAGEEXCHANGE_TIMEOUT=10

#前置机通道接入最大连接数
COMMSERVICE_COMMUNICATIONSCHEDULER_MAXCOUNT=100
#前置通道接入监听端口
COMMSERVICE_COMMUNICATIONSCHEDULER_PORT=5000
#230M通道超时时间
COMMSERVICE_COMMUNICATIONSCHEDULER_TIMEOUT230M=2
#其它通道超时间
COMMSERVICE_COMMUNICATIONSCHEDULER_TIMEOUT=60
#数据批量保存标记
COMMSERVICE_COMMUNICATIONSCHEDULER_BatchSave=false
#数据库回写时间间隔
COMMSERVICE_COMMUNICATIONSCHEDULER_DATABASESAVEMINUTE=15
#睡眼CDMA终端时间间隔
COMMSERVICE_COMMUNICATIONSCHEDULER_SLEEPINTERVAL=60
#加密码机IP地址
COMMSERVICE_MESSAGEEXCHANGE_ENCRYPTORIP=172.16.241.17

#数据库连接
JDBC_CONNECTION_URL=jdbc\:oracle\:thin\:@172.16.251.239\:1521\:yl
#用户名
JDBC_CONNECTION_USERNAME=hexing
#密码
JDBC_CONNECTION_PASSWORD=hexing2010

#终端规约支持配置
TERMINAL_TYPE_QG=true
TERMINAL_TYPE_698=true
TERMINAL_TYPE_ZJ=true
TERMINAL_TYPE_GD=false 
TERMINAL_TYPE_TJ=false
TERMINAL_TYPE_GY=false
TERMINAL_TYPE_HX=true
TERMINAL_TYPE_IHD=true

#电表规约支持配置
AMMETER_TYPE_QG=true
AMMETER_TYPE_TJ=false
AMMETER_TYPE_ZJ=false
AMMETER_TYPE_QG2007=true
AMMETER_TYPE_WATER=true

#任务程度合法性校验
FRAME_EXPLAIN_RWSJCDHFX=false

JDBC_CONNECTION_DBTYPE=10
TASK_IP=10.120.32.140
JMS_HISDATAQUEUE=HistoryDataQueue

#GPRS终端心跳间隔时间
TERMINAL_HEARTINTERVAL_GPRS=1800
#CDMA终端心跳间隔时间
TERMINAL_HEARTINTERVAL_CDMA=120
SENDTOREALTIME_INTERVAL=100

SENDTOREALTIME_COUNT=100
CUSTOMTASKDEMAND_UDP_PORT=4000

JMS_ALARMDATAQUEUE=AlarmDataQueue
SENDTOREALTIME_COUNT_230=50

REALTIME_COMMUNICATION_PORT=3000
FEP_LOGFILE_DIRECTORY=c\:/hexing/log/




REALTIME_COMMUNICATION_IP=127.0.0.1



JMS_URL=t3\://172.19.74.202\:8080

SENDTOREALTIME_INTERVAL_230=300

TASK_PORT=4000




TERMINAL_AUTOTASK_ADJUST=true

UPDATEFRAME_UDPIP=127.0.0.1
UPDATEFRAME_UDPPORT=9999